.map-style {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.leaflet-control-layers {
  display: none;
}

/* SVG-säännöt */
path[fill="none"] {
  stroke-width: 1.21;
}

path[fill-rule="evenodd"] {
  stroke-width: 0.34;
}

path[fill="#000"] {
  stroke-width: 1.699;
}
